.hanji-root {
  position: relative;
  display: grid;
  overflow: hidden;
  height: 100%;
  overflow-wrap: anywhere;

  .hanji-after {
    clip-path: polygon(var(--percentage) 0%, 100% 0%, 100% 100%, var(--percentage) 100%);
  }

  .hanji-before,
  .hanji-after {
    width: 100%;
    grid-area: 1 / 1;
  }

  img {
    vertical-align: middle;
  }
}

.hanji-no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hanji-range-wrap {
  height: 0;
  width: 100%;
  border: 0;
  padding: 0;
  transition: opacity 0.3s;
  &:active {
    opacity: 0.3;
  }
}

.hanji-range-thumb {
  position: absolute;
  top: 0;
  height: 100%;
  width: 16px;
  transform: translateX(-50%);
  cursor: col-resize;
}

.hanji-range-line {
  height: 100%;
  width: 1px;
  background: #fff;
  margin-left: 8px;
  margin-right: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hanji-arrow-primary {
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  grid-area: 1/1;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  margin-left: -11px;
}

.hanji-arrow-secondary {
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  grid-area: 1/1;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(-135deg);
  margin-right: -11px;
}
